@model Expense.Models.ExpenseData 
@{
    ViewBag.Title = "ExpenseEdit";
}

<h2>Expense Update</h2>
<style>
    input.input-validation-error {
        border: 1px solid #e80c4d;
    }
    #Title-error{
        color:red;
    }

</style>

@using (Html.BeginForm("ExpenseEdit", "Expense", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(h => h.ExpenseId)
            <label>Title</label>
            @Html.ValidationMessageFor(h => h.Title, "", new { @class = "error" })
            @Html.TextBoxFor(h => h.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Description</label>
            @Html.ValidationMessageFor(h => h.Description, "", new { @class = "error" })
            @Html.TextAreaFor(h => h.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Amount</label>
            @Html.ValidationMessageFor(h => h.Amount, "", new { @class = "error" })
            @Html.TextBoxFor(h => h.Amount, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Category Name</label>
            @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "error" })
            @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Date Time</label>
            @Html.TextBox("date_and_time", DateTime.Now, new { @disabled = "disabled", @class = "form-control redable" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    </div>
}
